.cardClass{
  background-color: var(--King-Blue);
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 200px;
  height:355px;
  padding:0px;
  margin:20px;
}

.cardClass:hover{
  transform: scale3d(1.2, 1.2, 1.2);
}

.poster{
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 15px 10px 10px 10px;
}

#movieTitle{
  display:flex;
  text-justify: center;
  text-align: center;
  justify-content: center;
}

#year{
  display: flex;
  margin:0px 0px 15px 0px;
  padding:0px;
  font-size: smaller;
  justify-content: center;
}

