#error-page{
  display:flex;
  justify-content: center;
  align-content: center;
}

.error{
    width: 300px;
    animation: rotate 2s linear infinite;
}

#sorry{
  color:var(--Contrast-Yellow);
  margin-top: 87px;
}


@keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  