nav{
    margin:0px 70px 0px 0px;
}

#navUl{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 48px 0px 0px 0px;
}

#searcher{
  margin-right: 10px;
}

#genrSelector{
  margin-right: 10px;
}

input{
  max-width: 120px;
  border-color: #2653AF;
}

#genreSelect{
  border-color: #2653AF;
  background-color: #F3F3F1
}

#orderSelect{
  border-color: #2653AF;
  background-color: #F3F3F1
}
