#siteIdArticle{
display:flex;
flex-direction: row;
}

#logoSite{
    width: 100px;
    height: 90px;
    margin:10px 0px 10px 30px;
    cursor:pointer;
}

#logoSite:hover{
    animation: rotate 1s linear infinite;
}

h1{
    font-family: 'Vina Sans', sans-serif;
    color: #2653AF;
    margin-top:18px;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 30px;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  