nav {
    display: flex;
    background-color: #4A0120;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    height: 90px;
    width: 100%;
    background-image: url('../assets/Logos/Cine.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-items: flex-end;
  }
  
  .search-container {
    align-items: center;
    margin-bottom: 10px;
    background-color: #4A0120;
    margin-left: auto;
  }
  
  .search-container input {
    margin-right: 0.5rem;
    background-color: #4A0120;
    border: none;
    border-bottom: 1px solid #ccc; 
    outline: none;
    background-image: url('../assets/Logos/kindpng_2800733.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    height: 35px;
    width: 100px;
    color: #fff;
  }
  