.grid-item {
    text-align: center;
    padding: 10px;
    border-radius: 5%;
  }
  
  .grid-item img {
    max-height: 300px;
    width: 100%;
    border-radius: 5%;
  }
  
  h4 {
    margin-top: 0.5rem;
    color: #fff;
  }
  a {
    font-weight: 300;
    /* color: #FE916F; */
    text-decoration: inherit;
  }
  a:hover {
    color: #FE916F;
  }