.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-size: 1.2rem;
  gap: 5px;
  /* color: #4A0120; */
}
  
  .pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
  }

  .pagination .page-num:hover {
    background-color: #000;
    color: #4a0120;
  }

  .pagination .active {
    background-color: #4a0120;
    border-radius: 10%;
  }