@import-normalize;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #000;
}
